

html{
    font-family: 'Rubik', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

a{
    text-decoration: none;
}

.title{
    text-transform: none;
}

.container{
    background: #BA8B02;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left #3E497A, #F1D00A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3E497A, #F1D00A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh; /* vh le indica que tome todo el alto de la pantalla */
    display: flex;                  /* con estos 3 elementos centramos el container */
    align-items: center;
    justify-content: center;
}
.content{
    max-width: 990px;
    max-height: 460px;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
}

table{
    width: 100%;
    border-spacing: 0;
}

table td, table th {
    padding: 1em;
    text-align: left;
    padding-left: .8em;
    padding-right: .8em;
    
}

h1{
    padding: 0.5em;
    text-align: center;
}

.paragraph{
    line-height: 1.8em;
    font-weight: 300;
}

table tr:nth-child(even){
    background-color: #f3e5f5;
}

.fa-star{
    color: #BA8B02;
}

